@media screen and (max-width:576px) {
    .masterwid{
        width: 100%;
    /* max-width:500px; */
}
    header{
        width: 100%;
    }
    .navbar{
    display:inline-block;
}
.nav-right ul li {
    display: none;
}
nav{
    padding: 10px ;
}
.hero-section{
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 20px;
    gap: 20px;
    padding: 10px;
    text-align: center;
}
.hero-left {
    width: 100%;
}
.hero-right img{
    width:400px;
   
}
.hero-left h1{
    font-size: 30px;
}
.sponsor-content{
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}
.collection-card{
    padding: 10px;
   grid-template-columns: repeat(1,1fr);
  
}
.card {
    max-width: 100%;
    width: 100%;
}
.features-section{
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
 .features-content{
    width:100%;
 }
 .features-content h1{
    font-size: 25px;
 }
}









/* Medium device */
@media screen and (min-width:576px) and (max-width:768px) {
    .masterwid{
        width: 100%;
    /* max-width:500px; */
}
    header{
        width: 100%;
    }
    .navbar{
    display:inline-block;
}
.nav-right ul li {
    display: none;
}
nav{
    padding: 10px ;
}
.hero-section{
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 20px;
    gap: 20px;
    text-align: center;
}
.hero-left ,.hero-right{
    width: 100%;
}
.hero-left h1{
    font-size: 30px;
}
.sponsor-content{
    flex-wrap: wrap;
    gap: 10px;

}
.collection-card{
    padding: 10px;
   grid-template-columns: repeat(2,1fr);
  
}
.card {
    max-width: 100%;
    width: 100%;
}
.features-section{
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
 .features-content{
    width:100%;
 }
 .features-content h1{
    font-size: 25px;
 }
    
}

