*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Yeseva One", serif;
}
/* Shared Style */
.masterwid{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.flexxi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:root{
    --primary-color:color: rgba(58, 58, 58, 1);
    --btn-color:#E02C6D;
}


/* Header Style */
nav{
    padding: 30px 0;
}
nav .nav-logo{
    font-size: 22px;
    color: var(--primary-color);
}
nav .nav-logo:hover{
    color: var(--btn-color);
}
.nav-right img {
    width: 20px;
    height: 20px;
}
.nav-right ul {
     display: flex;
    gap: 10px;
}
.nav-right ul li {
    margin-left: 20px;
}
.nav-right ul li a {
    color: var(--primary-color);
    text-decoration: none;
}
.nav-right ul li a:hover{
    color: var(--btn-color);
}
